# Hetzner token
hcloud_token = "TOKEN"

# Server config
server_name       = "SERVER_NAME"
system_image_name = "ubuntu-24.04"
server_type       = "cax11"

# SSH config
ssh_port = 22

# Admin
user_admin_name     = "ADMIN USER NAME"
user_admin_ssh_key  = "PUBLIC_KEY"
user_admin_password = "xxxxxxx"

# Mantainer
user_mantainer_name    = "MANTAINER USER NAME"
user_mantainer_ssh_key = "PUBLIC_KEY"

# Firewall
firewall_source_ips = ["xxx.xxx.xxx.xxx", "xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx"]
