# Hetzner token
hcloud_token = "TOKEN"

# Tailscale auth key
tailscale_auth_key = "AUTH KEY"

# Server config
server_name       = "SERVER_NAME"
system_image_name = "ubuntu-24.04"
server_type       = "cax11"
datacenter_id     = "hel1-dc2"

# SSH config
ssh_port = 22

use_public_firewall_ips = false

# Users configuration
users = [
  {
    name                       = "admin"
    groups                     = "sudo"
    ssh_key                    = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAYourPublicKeyHere admin@example.com"
    identity_file              = "~/.ssh/admin.pub"
    use_identity_file_for_root = true
    password                   = "$6$yourhashedpasswordhere$generated_with_openssl_passwd_-6"
  },
  {
    name          = "developer"
    groups        = "sudo,docker"
    identity_file = "~/.ssh/developer.pub"
    ssh_key       = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAYourPublicKeyHere developer@example.com"
    sudo_nopasswd = true
  }
]

# Firewall
firewall_source_ips = ["xxx.xxx.xxx.xxx", "xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx"]
