hcloud_token        = "TOKEN"
base_name           = "SERVER_NAME"
ssh_port            = 22
ssh_key_admin       = "PUBLIC_KEY"
user_name_admin     = "ADMIN USER NAME"
ssh_key_mantainer   = "PUBLIC_KEY"
user_name_mantainer = "MANTAINER USER NAME"
firewall_source_ips = ["xxx.xxx.xxx.xxx", "xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx"]
user_admin_password = "xxxxxxx"
